body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-card {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.todo-input {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

input {
    flex: 1;
    border: 2px solid #ccc;
}